usuarios/vistas/__pycache__/vistas_principal.cpython-313.pyc
SGEE/vistas/__pycache__/vistas_generales.cpython-313.pyc
grupos/vistas/__pycache__/vistas_principal.cpython-313.pyc
grupos/__pycache__/urls.cpython-313.pyc
estrategias/vistas/__pycache__/vistas_principal.cpython-313.pyc
encuestas/vistas/__pycache__/vistas_principal.cpython-313.pyc
