{% extends "baseg.html" %}
{% load static %}
{% block title %} Listar Eventos {% endblock %}
{% block content %}

  <div id="maind">

<!-- Sección de Eventos -->
<section id="eventos" class="eventos section-bg">
  <div class="container-fluid">
    <div class="section-title">
      <h2>Repositorio de Eventos</h2>
      <br>
      <p>Gestión de Eventos</p>
      <br>
    </div>

    <!-- Barra de búsqueda -->
    <form method="GET" action="{% url 'eventos' %}" class="search-bar mb-4">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Buscar evento..." aria-label="Buscar" value="{{ request.GET.q }}">
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i> <!-- Ícono de lupa -->
        </button>
      </div>
    </form>
      <div id="tabla-eventos" class="table-container">
        <div id="tabla-eventos-resposive" class="table-responsive">
          <table id="tablita-eventos" class="table table-bordered table-hover custom-table">
            <thead>
              <tr>
                <th>Eventos</th>
                <th>Localización</th>
                <th>Fecha de Inicio</th>
                <th> Responsable</th>
                <th>
                  Acciones
                  <button id="btn-seleccionar-todo" class="btn btn-link p-0 ms-2" title="Seleccionar Todo">
                    <i class="bi bi-check-all"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for evento in eventos %}
              <tr data-id="{{evento.id}}">
                <td>
                  <i class="bi bi-calendar-event"></i> {{ evento.nombre_evento }}
                </td>
                <td>{{ evento.ubicacion_evento }}</td>
                <td>{{ evento.fecha_inicio }}</td>
                <td>{{ evento.profesor_encargado }}</td>
                <td>
                  <button type="button"  class="btn btn-action btn-ver-detalles" data-id="{{ evento.id }}" title="Ver Detalles">
                    <i class="bi bi-eye"></i>
                  </button>
                  <button type="button" class="btn btn-action btn-inscribirse btn-secondary" data-id="{{ evento.id }}" title="inscribirse">
                    <i class="bi bi-pencil"></i>
                  </button>
                </td>

              </tr>
              {% empty %}
              <tr>
                <td colspan="5" class="text-center">No hay eventos registrados.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

  </div>
</section>
  </div>
  {% endblock %}
{% block scripts %}
<script>
  // Selecciona todos los botones con la clase "btn-inscribirse"
  document.querySelectorAll(".btn-inscribirse").forEach(button => {
      button.addEventListener("click", function (e) {
          //e.stopPropagation();
          const eventoId = this.getAttribute("data-id"); // Obtiene el ID desde el atributo data-id
          window.location.href = `/inscribir/evento/${eventoId}/`;
      });
  });
</script>

<script>
  // Selecciona todos los botones con la clase "btn-ver-detalles"
  document.querySelectorAll(".btn-ver-detalles").forEach(button => {
      button.addEventListener("click", function (e) {
          //e.stopPropagation();
          const eventoId = this.getAttribute("data-id"); // Obtiene el ID desde el atributo data-id
          window.location.href = `/visualizar/evento/${eventoId}/`;
      });
  });
</script>
{% endblock%}
