{% extends "baseg.html" %}
{% load static %}
{% block title %} Visualizar Estrategia Educativa {% endblock %}
{% block content %}

  <section id="formulario-estrategia" class="estrategia-educativa">
    <div class="container">
      <div class="section-title">
        <h2>Visualizar Estrategia Educativa</h2>

      </div>
  
      <form id="form-estrategia" class="php-email-form" action="" method="POST">
        {% csrf_token %}
        <!-- Campos adicionales: curso, año escolar y grupo -->
         <div><h4>{{estrategia.nombre}}</h4></div>
         <br>
         <h5>Datos generales</h5>
         <div> Estrategia <b>{{estrategia.curso}}</b>          Año escolar <b>{{estrategia.anio_escolar}}</b>        Grupo <b>{{estrategia.grupo}}</b></div>
         <br>
        <!-- Sección 1: Introducción -->
        <div class="form-section mb-4 p-4 ">
          <h3>1. Introducción</h3>
          <h4>1.1 Plan de estudios</h4>
          <p>{{estrategia.plan_estudios}}</p>
          <h4>1.2 Objetivos de la Estrategia Educativa</h4>
          <p>{{estrategia.obj_estrategia}}</p>
        </div>
      
        <!-- Sección 2: Caracterización de la grupo -->
        <div class="form-section mb-4 p-4 ">
          <h3>2. Caracterización de la grupo</h3>
          <h4>2.1 Dirección de la grupo</h4>
          <p>{{estrategia.dir_grupo}}</p>
          <h4>2.2 Características de la grupo</h4>
          <p>{{estrategia.caract_grupo}}</p>
          <h4>2.3 Colectivo pedagógico</h4>
          <p>{{estrategia.colect_pedagogico}}</p>
          <h4>2.4 Otros aspectos</h4>
          <p>{{estrategia.otros_aspectos}}</p>
        </div>
      
        <!-- Sección 3: Problemas detectados en la grupo -->
        <div class="form-section mb-4 p-4 ">
          <h3>3. Problemas detectados en la grupo</h3>
          <h4>3.1 Dimensión curricular</h4>
          <p>{{estrategia.dim_curricular}}</p>
          <h4>3.2 Dimensión extensionista</h4>
          <p>{{estrategia.dim_extensionista}}</p>
          <h4>3.3 Dimensión político-ideológica</h4>
          <p>{{estrategia.dim_politica}}</p>
          <h4>3.4 Conclusiones</h4>
          <p>{{estrategia.conclusiones}}</p>
        </div>
      
        <!-- Sección 4: Plan de acciones -->
        <div class="form-section mb-4 p-4 ">
          <h3>4. Plan de acciones</h3>
          <h4>4.1 Objetivo General</h4>
          <p>{{estrategia.obj_general}}</p>
          <h4>4.2.1 Objetivos específicos (Dimensión curricular)</h4>
          <p>{{estrategia.obj_dc}}</p>
          <h4>4.2.2 Plan de acciones (Dimensión curricular)</h4>
          <p>{{estrategia.plan_dc}}</p>
          <h4>4.3.1 Objetivos específicos (Dimensión extensionista)</h4>
          <p>{{estrategia.obj_de}}</p>
          <h4>4.3.2 Plan de acciones (Dimensión extensionista)</h4>
          <p>{{estrategia.plan_de}}</p>
          <h4>4.4.1 Objetivos específicos (Dimensión político-ideológica)</h4>
          <p>{{estrategia.obj_dp}}</p>
          <h4>4.4.2 Plan de acciones (Dimensión político-ideológica)</h4>
          <p>{{estrategia.plan_dp}}</p>
        </div>
      
        <!-- Sección 5: Evaluación integral -->
        <div class="form-section mb-4 p-4 ">
          <h3>5. Evaluación integral</h3>
          <h4>Evaluación integral</h4>
          <p>{{estrategia.evaluacion}}</p>
        </div>
      
        <!-- Sección 6: Autor -->
        <div class="form-section mb-4 p-4 ">
          <h3>6. Autor</h3>
          <h4>Nombre del autor</h4>
          <p>{{estrategia.autor}}</p>
        </div>
        
        <!-- Línea divisoria y botones -->
        <div class="text-center mt-4 pt-4 border-top">
          <div class="d-flex justify-content-between">
            <button type="button" id="boton-cancelar-estrategias" class="btn btn-cancelar" onclick="window.history.back()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
</section>

{% endblock%}
{% block scripts %}
  
{% endblock %}