{% extends "base.html" %}
{% load static %}
{% block title %} Sobre nosotros {% endblock %}
{% block content %}

  <div id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2> Sobre Nosotros </h2>
          <ol>
            <li><a href="{% url 'pagina_principal' %}"> Inicio</a></li>
            <li>Sobre Nosotros </li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

   <!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row content">
      <div class="col-lg-6">
        <h2>Innovación y creatividad en cada línea de código</h2>
        <h3>En CodeFusion Creators, fusionamos talento, tecnología y pasión para crear soluciones web únicas y funcionales.</h3>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Somos un equipo de desarrolladores web apasionados por transformar ideas en experiencias digitales impactantes. 
          Con un enfoque colaborativo y orientado a resultados, nos especializamos en diseñar y desarrollar sitios web 
          que no solo son visualmente atractivos, sino también altamente funcionales y adaptados a las necesidades de 
          nuestros clientes.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Diseño web personalizado y responsive para todos los dispositivos.</li>
          <li><i class="ri-check-double-line"></i> Desarrollo de aplicaciones web modernas y escalables.</li>
          <li><i class="ri-check-double-line"></i> Optimización y mantenimiento continuo para garantizar el máximo rendimiento.</li>
        </ul>
        <p class="fst-italic">
          En CodeFusion Creators, creemos que la tecnología es una herramienta poderosa para impulsar el crecimiento 
          y la innovación. Trabajamos con dedicación y creatividad para ofrecer soluciones que marcan la diferencia.
        </p>
      </div>
    </div>
  </div>
</section><!-- End About Section -->

    <!-- ======= SECCION DE EQUIPO ======= -->
<section id="team" class="team section-bg">
  <div class="container">

    <!-- Título de la sección -->
    <div class="section-title fade-in" data-delay="100">
      <h2>Equipo</h2>
      <p>Nuestro equipo de trabajo:</p>
    </div>

    <div class="row">

      <!-- Miembro 1 -->
      <div class="col-lg-6">
        <div class="member d-flex align-items-start slide-in-left" data-delay="200">
          <div class="pic"><img src="./imagenes/fabian.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Fabian Coto Díaz</h4>
            <span>Diseñador, Desarrollador y Jefe de Proyecto</span>
            <p>"Juntos somos más fuertes que por separado."</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Miembro 2 -->
      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="member d-flex align-items-start slide-in-right" data-delay="300">
          <div class="pic"><img src="./imagenes/leandro.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Leandro Marichal Gonzáles</h4>
            <span>Analista</span>
            <p>"Cada aporte cuenta, cada persona suma."</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Miembro 3 -->
      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start fade-in-up" data-delay="400">
          <div class="pic"><img src="./imagenes/freeman.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Fabian Herrera Freeman</h4>
            <span>Analista</span>
            <p>"El trabajo en equipo convierte los sueños en realidad."</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Miembro 4 -->
      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start slide-in-left" data-delay="500">
          <div class="pic"><img src="./imagenes/osmel.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Osmel Mederos Rosales</h4>
            <span>Desarrollador y Analista</span>
            <p>"Unidos logramos lo imposible."</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Miembro 5 -->
      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start slide-in-right" data-delay="600">
          <div class="pic"><img src="./imagenes/sulenys.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Sulenys Martinez Ruiz</h4>
            <span>Diseñadora</span>
            <p>"La colaboración es la clave del éxito."</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->

    <!-- ======= Habilidades ======= -->
    <section id="skills" class="skills">
      <div class="container">

        <div class="section-title">
          <h2> Nuestras Habilidades </h2>
          <p> Revisa nuestras habilidades </p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">PHP <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">WordPress/CMS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Photoshop <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Our Skills Section -->

  </div><!-- End #main -->
{% endblock %}
 