{% extends "base.html" %}
{% load static %}
{% block title %} Crear Estrategia Educativa {% endblock %}
{% block content %}

  <section id="formulario-estrategia" class="estrategia-educativa">
    <div class="container">
      <div class="section-title">
        <h2>Formulario de Estrategia Educativa</h2>
        <p>Complete los siguientes campos para registrar una nueva estrategia educativa.</p>
      </div>
  
      <form id="form-estrategia" class="php-email-form" action="" method="POST">
        {% csrf_token %}
        <!-- Campos adicionales: curso, año escolar y grupo -->
        <div class="form-section mb-4 p-4 border rounded">
          <h3 class="mb-4">Datos generales</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="titulo-estrategia">Nombre de Estrategia </label>
                <input type="text" id="titulo-estrategia" name="nombre" class="form-control" required>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="curso">Curso</label>
                <input type="text" id="curso" name="curso" class="form-control" required>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="ano-escolar">Año escolar</label>
                <input type="text" id="ano-escolar" name="anio_escolar" class="form-control" required>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="grupo">Grupo</label>
                <select id="grupo" name="grupo" class="form-control" required>
                    <option value="" disabled selected>Seleccione una grupo</option>
                    {% for grupo in grupos %}
                        <option value="{{ grupo.nombre }}">{{ grupo.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            </div>
          </div>
        </div>
      
        <!-- Sección 1: Introducción -->
        <div class="form-section mb-4 p-4 border rounded">
          <h3 class="mb-4">1. Introducción</h3>
          <div class="form-group">
            <label for="plan_estudios">1.1 Plan de estudios</label>
            <textarea id="plan_estudios" name="plan_estudios" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="obj_estrategia">1.2 Objetivos de la Estrategia Educativa</label>
            <textarea id="obj_estrategia" name="obj_estrategia" class="form-control" rows="4"></textarea>
          </div>
        </div>
      
        <!-- Sección 2: Caracterización de la grupo -->
        <div class="form-section mb-4 p-4 border rounded">
          <h3 class="mb-4">2. Caracterización de la grupo</h3>
          <div class="form-group">
            <label for="direccion-grupo">2.1 Dirección de la grupo</label>
            <input type="text" id="direccion-grupo" name="dir_grupo" class="form-control">
          </div>
          <div class="form-group">
            <label for="caracteristicas-grupo">2.2 Características de la grupo</label>
            <textarea id="caracteristicas-grupo" name="caract_grupo" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="colectivo-pedagogico">2.3 Colectivo pedagógico</label>
            <textarea id="colectivo-pedagogico" name="colect_pedagogico" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="otros-aspectos">2.4 Otros aspectos</label>
            <textarea id="otros-aspectos" name="otros_aspectos" class="form-control" rows="4"></textarea>
          </div>
        </div>
      
        <!-- Sección 3: Problemas detectados en la grupo -->
        <div class="form-section mb-4 p-4 border rounded">
          <h3 class="mb-4">3. Problemas detectados en la grupo</h3>
          <div class="form-group">
            <label for="dimension-curricular">3.1 Dimensión curricular</label>
            <textarea id="dimension-curricular" name="dim_curricular" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="dimension-extensionista">3.2 Dimensión extensionista</label>
            <textarea id="dimension-extensionista" name="dim_extensionista" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="dimension-politico-ideologica">3.3 Dimensión político-ideológica</label>
            <textarea id="dimension-politico-ideologica" name="dim_politica" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="conclusiones">3.4 Conclusiones</label>
            <textarea id="conclusiones" name="conclusiones" class="form-control" rows="4"></textarea>
          </div>
        </div>
      
        <!-- Sección 4: Plan de acciones -->
        <div class="form-section mb-4 p-4 border rounded">
          <h3 class="mb-4">4. Plan de acciones</h3>
          <div class="form-group">
            <label for="objetivo-general">4.1 Objetivo General</label>
            <textarea id="objetivo-general" name="obj_general" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="objetivos-especificos-curricular">4.2.1 Objetivos específicos (Dimensión curricular)</label>
            <textarea id="objetivos-especificos-curricular" name="obj_dc" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="plan-acciones-curricular">4.2.2 Plan de acciones (Dimensión curricular)</label>
            <textarea id="plan-acciones-curricular" name="plan_dc" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="objetivos-especificos-extensionista">4.3.1 Objetivos específicos (Dimensión extensionista)</label>
            <textarea id="objetivos-especificos-extensionista" name="obj_de" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="plan-acciones-extensionista">4.3.2 Plan de acciones (Dimensión extensionista)</label>
            <textarea id="plan-acciones-extensionista" name="plan_de" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="objetivos-especificos-politico-ideologica">4.4.1 Objetivos específicos (Dimensión político-ideológica)</label>
            <textarea id="objetivos-especificos-politico-ideologica" name="obj_dp" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="plan-acciones-politico-ideologica">4.4.2 Plan de acciones (Dimensión político-ideológica)</label>
            <textarea id="plan-acciones-politico-ideologica" name="plan_dp" class="form-control" rows="4"></textarea>
          </div>
        </div>
      
        <!-- Sección 5: Evaluación integral -->
        <div class="form-section mb-4 p-4 border rounded">
          <h3 class="mb-4">5. Evaluación integral</h3>
          <div class="form-group">
            <label for="evaluacion-integral">Evaluación integral</label>
            <textarea id="evaluacion-integral" name="evaluacion" class="form-control" rows="4"></textarea>
          </div>
        </div>
      
        <!-- Sección 6: Autor -->
        <div class="form-section mb-4 p-4 border rounded">
          <h3 class="mb-4">6. Autor</h3>
          <div class="form-group">
            <label for="autor">Nombre del autor</label>
            <input type="text" id="autor" name="autor" value="{{user.first_name}} {{ user.last_name }}" class="form-control">
          </div>
        </div>
        
        <!-- Línea divisoria y botones -->
        <div class="text-center mt-4 pt-4 border-top">
          <div class="d-flex justify-content-between">
            <button type="submit" id="boton-registrar-estrategia" class="btn btn-primary">
              <i class="bi bi-save"></i> Registrar Estrategia
            </button>
            <button type="button" id="boton-cancelar-estrategias" class="btn btn-cancelar" onclick="window.history.back()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
</section>
{% endblock %}
{% block scripts %}
  <script>
    // Inserta el JSON serializado desde la vista aquí
    const gruposData = {{ grupos_json|safe }};

    document.getElementById('grupo').addEventListener('change', function() {
        const selectedName = this.value;
        const grupo = gruposData.find(b => b.nombre == selectedName);
        if (grupo) {
            document.getElementById('direccion-grupo').value = grupo.direccion;
            document.getElementById('caracteristicas-grupo').value = grupo.caracterizacion;
            document.getElementById('curso').value = grupo.curso;
            document.getElementById('ano-escolar').value = grupo.anio_escolar;
        } else {
            document.getElementById('direccion-grupo').value = '';
            document.getElementById('caracteristicas-grupo').value = '';
            document.getElementById('curso').value = '';
            document.getElementById('ano-escolar').value = '';
        }
    });
  </script>
{% endblock %}