{% extends 'base.html' %}
{% block title %} Lista de Grupos {% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>Lista de Grupos</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for grupo in grupos %}
            <tr>
                <td>{{ grupo.id }}</td>
                <td>{{ grupo.nombre }}</td>
                <td>
                    <a href="{% url 'visualizar_grupo' grupo.id %}" class="btn btn-info btn-sm">Ver</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">No hay grupos registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="botones">
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'formular_grupo' %}'">Crear Nuevo Grupo</button>
        
    </div>
</div>
{% endblock %}