{% extends "base.html" %}
{% load static %}
{% block title %} Lista de Usuarios {% endblock %}
{% block content %}

<div id="maind">

    <!-- Sección de Usuarios -->
<section id="usuarios" class="usuarios section-bg">
    <div class="container-fluid">
      <div class="section-title">
        <h2>Gestión de Usuarios</h2>
        <br>
        <p>Administración de usuarios del sistema.</p>
        <br>
      </div>
  
      <!-- Barra de búsqueda -->
      <div id="barra-busqueda-usuarios" class="search-bar">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar usuario..." aria-label="Buscar">
          <button class="btn btn-primary" type="button">
            <i class="bi bi-search"></i> <!-- Ícono de lupa -->
          </button>
        </div>
      </div>
  
      <!-- Contenedor de la tabla con scroll -->
      <form id="form-eliminar-usuarios" method="POST" action="{% url 'p_eliminar_usuarios' %}">
        {% csrf_token %}
        <div id="tabla-usuarios" class="table-container">
          <div id="tabla-usuarios-responsive" class="table-responsive">
            <table id="tablita-usuarios" class="table table-bordered table-hover custom-table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Primer Apellido</th>
                  <th>Segundo Apellido</th>
                  <th>Categoría Docente</th>
                  <th>
                    Acciones
                    <button id="btn-seleccionar-todo" class="btn btn-link p-0 ms-2" title="Seleccionar Todo">
                      <i class="bi bi-check-all"></i>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for usuario in usuarios %}
                <tr>
                  <td>{{ usuario.first_name }}</td>
                  <td>{{ usuario.last_name.split|first }}</td>
                  <td>{{ usuario.last_name.split|last }}</td>
                  <td>{{ usuario.cargo }}</td>
                  <td>
                    <button type="button" class="btn btn-action btn-ver-detalles" data-id="{{ usuario.id }}" title="Ver Detalles">
                      <i class="bi bi-eye"></i>
                    </button>
                    <button type="button" class="btn btn-action btn-modificar" data-id="{{ usuario.id }}" title="Modificar">
                      <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-action btn-eliminar" data-id="{{ usuario.id }}" title="Eliminar">
                      <i class="bi bi-trash"></i>
                    </button>
                    <input type="checkbox" class="form-check-input seleccionar-fila" name="eusuarios[]" value="{{ usuario.id }}">
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5" class="text-center">No hay usuarios registrados.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- Botones independientes debajo de la tabla -->
      <div id="botones-accion-usuarios" class="d-flex justify-content-between mt-4">
        <a href="{% url 'p_formular_usuario'%}">
          <div id="btn-registrar-usuario" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Registrar
          </div>
        </a>
        <div type="submit" id="btn-eliminar-usuario" class="btn btn-danger"> <i class="bi bi-trash"></i> Aceptar
        </div>
      </div></form>
    </div>
  </section>


</div>
  
{% endblock %}
{% block scripts %}

  
  <script>
    // Selecciona todos los botones con la clase "btn-eliminar"
    document.querySelectorAll(".btn-eliminar").forEach(button => {
        button.addEventListener("click", function () {
            const usuarioId = this.getAttribute("data-id"); // Obtiene el ID desde el atributo data-id
            if (confirm("¿Estás seguro de que quieres eliminar este usuario?")) {
                // Redirige a la URL para eliminar la usuario
                window.location.href = `/p/eliminar/usuario/${usuarioId}/`;
            }
        });
    });

    // Selecciona todos los botones con la clase "btn-ver-detalles"
    document.querySelectorAll(".btn-ver-detalles").forEach(button => {
        button.addEventListener("click", function () {
            const usuarioId = this.getAttribute("data-id");
            window.location.href = `/p/visualizar/usuario/${usuarioId}/`;
        });
    });

    // Selecciona todos los botones con la clase "btn-modificar"
    document.querySelectorAll(".btn-modificar").forEach(button => {
        button.addEventListener("click", function () {
            const usuarioId = this.getAttribute("data-id");
            window.location.href = `/p/modificar/usuario/${usuarioId}/`;
        });
    });
  </script>
  <script>
    document.getElementById('btn-seleccionar-todo').addEventListener('click', function (e) {
      e.preventDefault();
      const checkboxes = document.querySelectorAll('.seleccionar-fila');
      checkboxes.forEach(checkbox => checkbox.checked = !checkbox.checked);
    });
  </script>
{% endblock%}