{% extends "base.html" %}
{% load static %}
{% block title %} Listar Eventos {% endblock %}
{% block content %}
<div id="maind">

<!-- Sección de Eventos -->
<section id="eventos" class="eventos section-bg">
  <div class="container-fluid">
    <div class="section-title">
      <h2>Repositorio de Eventos</h2>
      <br>
      <p>Gestión de Eventos</p>
      <br>
    </div>

    <!-- Barra de búsqueda -->
    <div id="barra-busqueda-eventos" class="search-bar">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar evento..." aria-label="Buscar">
        <button class="btn btn-primary" type="button">
          <i class="bi bi-search"></i> <!-- Ícono de lupa -->
        </button>
      </div>
    </div>

    <!-- Contenedor de la tabla con scroll -->
    <form id="form-eliminar-eventos" method="POST" action="{% url 'p_eliminar_eventos' %}">
      {% csrf_token %}
      <div id="tabla-eventos" class="table-container">
        <div id="tabla-eventos-resposive" class="table-responsive">
          <table id="tablita-eventos" class="table table-bordered table-hover custom-table">
            <thead>
              <tr>
                <th>Eventos</th>
                <th>Localización</th>
                <th>Fecha de Inicio</th>
                <th> Responsable</th>
                <th>
                  Acciones
                  <button id="btn-seleccionar-todo" class="btn btn-link p-0 ms-2" title="Seleccionar Todo">
                    <i class="bi bi-check-all"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for evento in eventos %}
              <tr data-id="{{evento.id}}">
                <td>
                  <i class="bi bi-calendar-event"></i> {{ evento.nombre_evento }}
                </td>
                <td>{{ evento.ubicacion_evento }}</td>
                <td>{{ evento.fecha_inicio }}</td>
                <td>{{ evento.profesor_encargado }}</td>
                <td>
                  <button type="button"  class="btn btn-action btn-ver-detalles" data-id="{{ evento.id }}" title="Ver Detalles">
                    <i class="bi bi-eye"></i>
                  </button>
                  <button type="button" class="btn btn-action btn-modificar" data-id="{{ evento.id }}" title="Modificar">
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button type="button" class="btn btn-action btn-eliminar" data-id="{{ evento.id }}" title="Eliminar">
                    <i class="bi bi-trash"></i>
                  </button>
                  <input type="checkbox" class="form-check-input seleccionar-fila" name="eventos[]" value="{{ evento.id }}">
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5" class="text-center">No hay eventos registrados.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <!-- Botones independientes debajo de la tabla -->
      <div id="botones-accion-evento" class="d-flex justify-content-between mt-4">
        <a href="{% url 'p_formular_evento' %}">
          <div id="btn-registrar-evento" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Registrar
          </div>
        </a>
        <button type="submit" id="btn-eliminar-evento" class="btn btn-danger"> <i class="bi bi-trash"></i> Aceptar </button>
      </div>
    </form>
  </div>
</section>
</div>
{% endblock %}
{% block scripts %}
  
  <script>
  // Selecciona todos los botones con la clase "btn-eliminar"
  document.querySelectorAll(".btn-eliminar").forEach(button => {
    button.addEventListener("click", function () {
      const eventoId = this.getAttribute("data-id"); // Obtiene el ID desde el atributo data-id
      if (confirm("¿Estás seguro de que quieres eliminar este evento?")) {
        // Redirige a la URL para eliminar el evento
        window.location.href = `/p_eliminar_evento/${eventoId}/`;
      }
    });
  });
</script>
<script>
  // Selecciona todos los botones con la clase "btn-modificar"
  document.querySelectorAll(".btn-modificar").forEach(button => {
      button.addEventListener("click", function (e) {
          //e.stopPropagation();
          const eventoId = this.getAttribute("data-id"); // Obtiene el ID desde el atributo data-id
          window.location.href = `/p_modificar_evento/${eventoId}/`;
      });
  });
</script>

<script>
  // Selecciona todos los botones con la clase "btn-ver-detalles"
  document.querySelectorAll(".btn-ver-detalles").forEach(button => {
      button.addEventListener("click", function (e) {
          //e.stopPropagation();
          const eventoId = this.getAttribute("data-id"); // Obtiene el ID desde el atributo data-id
          window.location.href = `/p_visualizar_evento/${eventoId}/`;
      });
  });
</script>
<script>
  let formulario=document.getElementById("form-eliminar-eventos");
  formulario.addEventListener("submit", function(event){
    event.preventDefault();
    let eventos=document.querySelectorAll(".seleccionar-fila:checked");
    if(eventos.length===0){
      alert("No hay eventos seleccionados");
      return;
    }
    if(confirm("¿Estás seguro de que quieres eliminar los eventos seleccionados?")){
      formulario.submit();
    }
  });
</script>
{% endblock %}